
<div ng-show="isActive('Encounter' + $index)" ng-repeat="encounter in camp.encounters">
	<div>
		<h1>{{encounter.enc.general.name}}</h1>
		<p><span class="keyword">Setup</span> : {{encounter.enc.general.setup}}</p>
		<p><span class="keyword">Readaloud</span> : {{encounter.enc.general.readaloud}}</p>

		<h2>Monsters</h2>
		<div class="xtra-space" ng-repeat="monster in encounter.monsters">
			<p ng-repeat="(key, val) in monster"><span class="keyword">{{key}}</span> : {{val}}</p>
		</div>
	</div>
</div>
