<!DOCTYPE html>
<html ng-app="dm">
<head>
	<!-- Script imports -->
	<script type="text/javascript" src="../scripts/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="../scripts/angular.min.js"></script>
	<script type="text/javascript" src="../scripts/site.js"></script>
	<script type="text/javascript" src="../scripts/bootstrap.min.js"></script>

	<!-- Style imports -->
	<link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../styles/site.css">

	<title>Unicorn Rampage!</title>
</head>
<body>

	<!-- Nav bar start -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
	</nav>
	<!-- Nav bar end -->
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Unicorn Rampage</h1>
			<p>Select a pre-made campaign or Create a new one!</p>

			<button class="btn btn-default" type="button">Create!</button>
			<button class="btn btn-default" type="button">Run!</button>
		</div>
	</div>

</body>
</html>