<!DOCTYPE html>
<html ng-app="dm">
<head>
	<!-- Script imports -->
	<script type="text/javascript" src="../scripts/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="../scripts/angular.min.js"></script>

	<!-- Style imports -->
	<link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">

	<title>Unicorn Rampage!</title>
</head>
<body>

	<h1>Welcome to Unicorn Rampage</h1>
	<p>Select a pre-made campaign or Create a new one!</p>

	<button class="btn btn-default" type="button">Create!</button>
	<button class="btn btn-default" type="button">Run!</button>

</body>
</html>