
<div id="main-browse-container" class="container">
	<h1>Choose a campaign</h1>

	<h2>Campaigns</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Author</th>
				<th>Theme</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr class="brws-opt" ng-repeat="camp in campaigns track by $index">
				<td id="camp.camp_id" ng-hide="true"></td>
				<td class="lft-brws-opt">{{camp.general.name}}</td>
				<td>{{camp.general.author}}</td>
				<td>{{camp.general.theme}}</td>
				<td class="rgt-brws-opt">{{camp.general.description}}</td>
			</tr>
			<tr class="brws-opt" ng-click="getID(myCamps.test, 'local')">
				<td class="lft-brws-opt">{{myCamps.General.Name}}</td>
				<td>{{myCamps.General.Author}}</td>
				<td>{{myCamps.General.Theme}}</td>
				<td class="rgt-brws-opt">{{myCamps.General.Description}}</td>
			</tr>
		</tbody>
	</table>

</div>
