<div id="create-monsters-container" class="container">
	<h1>Monsters</h1>
    <div>
    	<form ng-submit="monstersaddrow()">
            <label>Monsters Name/Race</label>
            <input type="text" name="mname" ng-model="monster.mname" required ></input>
            <label>Hit Points</label>
            <input type="number" name="mhitpoints" ng-model="monster.mhitpoints" required ></input><br>
            <label>Attack</label>
            <input type="number" name="mattack" ng-model="monster.mattack" required ></input>
            <label>Defense</label>
            <input type="number" name="mdefense" ng-model="monster.mdefense" required ></input>
    		<input  type="submit" class="btn btn-default" value="Add Row" ng-disabled="monstersaddrow.$invalid"></input>
    	</form>
    </div>
    <h2>OR, selcect a premade Monster</h2>
    <button class="btn btn-default" ng-click="selectMonster()">Selcect a Monster to Add</button><br>

    <select name="repeatSelect" id="repeatSelect" ng-model="premademonster" ng-hide="dbmonsters" ng-options="option.mname for option in databasemonsters" required >
      <option value="">Select Monster</option>
    </select><br>
    <button class="btn btn-default" ng-click="monstersaddpremade(premademonster)" ng-hide="dbmonsters">Add This Monster</button><br>

    <br><table class="table">
    <tr>
        <th>Name/Race
        </th>
        <th>Hit Points
        </th>
        <th>Attack
        </th>
        <th>Defense
        </th>
        <th>
        </th>
    </tr>
    <div id="savedmonsterrow">
    <tr ng-repeat="monster in monsters" id="savedmonsterrow" ng-hide="savedmonsterrow">
        <td>{{monster.mname}}
        </td>
        <td>{{monster.mhitpoints}}
        </td>
        <td>{{monster.mattack}}
        </td>
        <td>{{monster.mdefense}}
        </td>
        <td><button class="btn btn-default" type="button" ng-click="editMonster(monster)">Edit</button>
        <button class="btn btn-default" type="button" ng-click="deleteMonster(monster.mon_id)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button></td>
    </tr>
    </div>
    <div id="editmonsterrow">
    <tr id="editmonsterrow" ng-hide="editmonsterrow">
        <td><input type="text" name="mname" ng-model="monster.selected.mname" required ></input></td>
        <td><input type="number" name="mhitpoints" ng-model="monster.selected.mhitpoints" required ></input></td>
        <td><input type="number" name="mattack" ng-model="monster.selected.mattack" required ></input></input></td>
        <td><input type="number" name="mdefense" ng-model="monster.selected.mdefense" required ></input></input></td>
        <td>
            <button class="btn btn-default" ng-click="saveMonster(monster.selected.mon_id)">Save</button>
            <button class="btn btn-default" ng-click="reset()">Cancel</button>
        </td>
    </tr>
    </div>
    </table>
</div>