<div id="create-monsters-container" class="container">
	<h1>Monsters</h1>
	<form ng-submit="monstersaddrow()">
        <label>Monsters Name/Race</label>
        <input type="text" name="mname" ng-model="monster.mname"></input>
        <label>Hit Points</label>
        <input type="text" name="mhitpoints" ng-model="monster.mhitpoints"></input><br>
        <label>Attack</label>
        <input type="text" name="mattack" ng-model="monster.mattack"></input>
        <label>Defence</label>
        <input type="text" name="mdefence" ng-model="monster.mdefence"></input>
		<input  type="submit" class="btn btn-default" value="Add Row"></input>
	</form>

<!-- Need to add a "save table" button -->

    <table class="table">
    <tr>
        <th>Name/Race
        </th>
        <th>Hit Points
        </th>
        <th>Attack
        </th>
        <th>Defence
        </th>
    </tr>
    <tr ng-repeat="monster in monsters">
        <td>{{monster.mname}}
        </td>
        <td>{{monster.mhitpoints}}
        </td>
        <td>{{monster.mattack}}
        </td>
        <td>{{monster.mdefence}}
        </td>
    </tr>
</table>
</div>
