<div id="create-locations-container">
	<h1>Locations</h1>
	<form ng-submit="localsubmit()">
		<table id="locTable">
		<!-- HEADERS FOR LOCATION TABLE -->
            <tr id="locHeader">
                <th>Name</th>
				<th>Description</th>
            </tr>
        <!-- Input Fields underneath Headers -->
            <tr id="locRow">
                <td>
                    <input type="text" placeholder="Object" ng-model="localname"/>
                </td>
				<td>
					<input type="text" placeholder="Object" ng-model="localdisc"/>
				</td>
            </tr>
    	</table>
    	<button ng-click="appendToLoc()"type="button" id="locAdd">Add Row</button><br /><br />
		<input type="submit" value="Save Table"></input>
	</form>
</div>
