<!-- Starting with the General Info page -->
<div id="main-create-container" class="container">
	<h1>Create a Campaign to play later with Friends!</h1>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-title">
                    <a><b>Campaign Creation</b></a>
                </li>
                <li class="sidebar-header">
                    <a href="#">General Info</a>
                </li>
                <li class="sidebar-header">
                    <a data-toggle="collapse" data-target="#tablelist">"Tables/Objects"<i class="fa fa-plus-square-o"></i></a>
                </li>
                <li id="tablelist" class="sidebar-item collapse">
                    <a href="#">Locations</a>
                    <a href="#">Monsters</a>
                </li>
                <li class="sidebar-header">
                    <a data-toggle="collapse" data-target="#encounterlist">Encounters<i class="fa fa-plus-square-o"></i></a>
                </li>
                <li id="encounterlist" class="sidebar-item collapse">
                    <a href="#">Encounter 1</a>
                    <a href="#">Encounter 2</a>
                    <a href="#">Encounter 3</a>
                    <a href="#">Encounter 4</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Menue Toggle Button -->
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <h1>General Info</h1> 
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</div>