<div id="create-locations-container" class="container">
	<h1>Locations</h1>
    <div ng-hide="addlocations">
    	<form ng-submit="locationsaddrow()">
            <label>Location Name:</label>
            <input type="text" name="name" ng-model="location.name" required ></input><br><br>
            <label>Discription of the Location</label><br>
            <textarea id="locationdisc" name="discription" ng-model="location.discription" rows="5" md-maxlength="150" style="height: 135px; width: 359px; overflow:scroll" required></textarea><br><br>
    		<input  type="submit" class="btn btn-default" value="Add This Location" ng-disabled="locationsaddrow.$invalid"></input>
    	</form>
    </div>

<br><button ng-click="hidelocations()" class="btn btn-default" ng-disabled="locationssaved" >Save and Finish</button><br>

    <br><table class="table">
        <tr>
            <th>Name
            </th>
            <th>Discription
            </th>
        </tr>
        <tr ng-repeat="location in locations">
            <td>{{location.name}}
            </td>
            <td>{{location.discription}}
            </td>
        </tr>
    </table>
</div>