body {
    overflow-x: hidden;
 }

/* Toggle Styles */

/*This effects the speed of the toggleing of the menu*/
#main-create-container #create-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*These move the page over, when the menu is toggled*/
#main-create-container #create-wrapper {
    padding-left: 150px;
}
#main-create-container #create-wrapper #sidebar-wrapper {
    width: 250px;
}


/*This makes the menu hide when NOT toggled*/
#main-create-container #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgba(109, 74, 144,0.2);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar Styles */

#main-create-container .sidebar-nav #create-encounters {
    height: 65px;
    font-size: 22px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    text-align: left;
}

#main-create-container .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-create-container .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

#main-create-container .sidebar-nav li {
    display: block;
    text-decoration: none;
    color: #999999;
}

#main-create-container .sidebar-nav li:hover {
    text-decoration: underline;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

#main-create-container .sidebar-nav li:active,
#main-create-container .sidebar-nav li:focus {
    text-decoration: none;
}

#main-create-container .sidebar-nav > .sidebar-title {
    height: 65px;
    font-size: 22px;
    line-height: 60px;
    background: none;
    text-decoration: none;
}

#main-create-container .sidebar-nav > .sidebar-title {
    color: #fff;
    background: rgba(124, 2, 247,0.2);
    text-decoration: none;
}

#main-create-container .sidebar-nav > .sidebar-title:hover {
    background: rgba(124, 2, 247,0.2);
    text-decoration: none;
}

#main-create-container .sidebar-nav > .sidebar-header {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
}

#main-create-container .sidebar-nav > .sidebar-header {
    color: #fff;
    text-decoration: none;
}

#main-create-container .sidebar-nav > .sidebar-header:hover {
    background: rgba(255,255,255,0.2);
    border-style: solid;
    text-decoration: none;
}

#main-create-container .sidebar-nav > .sidebar-item:hover {
    text-decoration: underline;
    background: none;
}

/*General Info Page*/
#main-create-container h3 {
    color: violet;
}

/*Specific issues fixed BELOW*/
#main-create-container input[type="text"] {
    color: black;
}

#main-create-container input[type="number"] {
    color: black;
}

#main-create-container textarea {
    color: black;
}

#main-create-container select {
    color: black;
}

/*Specific issues fixed ABOVE*/

#main-create-container @media(min-width:768px) {
    #main-create-container #create-wrapper {
        padding-left: 100px;
    }

    #main-create-container #create-wrapper {
        padding-left: 0;
    }

    #main-create-container #sidebar-wrapper {
        width: 250px;
    }

    #main-create-container #create-wrapper #sidebar-wrapper {
        width: 0;
    }

    #main-create-container #create-menu-toggle {
        margin-left: 12px;
    }

}