
/* Import fonts */
	@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic");
	@import url("https://fonts.googleapis.com/css?family=Oswald:400,300,700");





/* General styles */

	body {
		background-color: #000;
		font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fff;
		font-size: 16px;
	}

	.accented {
		color: #b591ff;
	}

	.btn-default {
		color: #fff;
		font-weight: 700;
		background-color: #b591ff;
		border-color: #9966ff;
	}

	.btn-default:active,
	.btn-default:focus,
	.btn-default:hover,
	.btn-default:target {
		background-color: #9966ff !important;
		border-color: #925eff !important;
		outline: none !important;
		color: #fff !important;
		transition: 0.4s;
	}

	.btn-default + .btn-default {
		margin-left: 15px;
	}





/* Nav bar styles */

	.navbar {
		border-color: #272727;
		color: #fff;
		background-color: rgba(0,0,0,0.85);
	}

	li.nav-logo {
		cursor: pointer;
	}

	li.nav-opt {
		float: right;
		margin-top: 20px;
		font-size: 32px;
	}

	li.nav-opt:hover,
	li.nav-opt:focus,
	li.nav-opt:active,
	li.nav-opt:target {
		transition: 0.2s;
		cursor: pointer;
		color: #925eff;
	}