
/* Side nav styles */

#main-play-container ul.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	min-height: 600px;
	background-color: #262626;
}

#main-play-container li.snav-brand {
	text-indent: 10px;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#main-play-container li.snav-opt {
	text-decoration: none;
	line-height: 40px;
	cursor: pointer;
}

#main-play-container li.snav-opt:hover {
	background-color: #343434;
	transition: 0.2s;
}

#main-play-container li.snav-opt:active,
#main-play-container li.snav-opt:target,
#main-play-container li.snav-opt:focus {
	background-color: #404040;
	transition: 0.2s;
}

#main-play-container li {
	border-bottom: solid 3px #1a1a1a;
	display: block;
	text-indent: 20px;

	/* Ellipsis concatination for multi-line text */
	width: 160px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#main-play-container span.keyword {
	color: #b591ff;
}

#main-play-container #encounters li {
	font-size: 12px !important;
	text-indent: 30px !important;
}